* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: grid;
  place-items: center;
}

header {
  padding: 20px;
}

.firstTitle {
  text-align: center;
  padding-bottom: 10px;
  text-shadow: 3px 3px 5px grey;
}

.secondTitle {
  text-align: center;
  text-shadow: 5px 5px 5px grey;
}

.board {
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border: 2px solid black;
  width: 630px;
  background-color: rgb(74, 74, 198);
  box-shadow: 10px 10px 5px grey;
}

ul {
  place-items: center;
}

ul li {
  margin: 5px;
  width: 75px;
  height: 75px;
  border: 2px solid black;
  border-radius: 100px;
  background-color: white;
  list-style: none;
}

.c1:hover,
.c2:hover,
.c3:hover,
.c4:hover,
.c5:hover,
.c6:hover,
.c7:hover {
  background-color: powderblue;
  transition: background-color 0.5s;
  cursor: pointer;
  border-radius: 6px;
}

.startButton {
  place-items: center;
  padding: 20px;
}

.restartButton {
  place-items: center;
  padding: 20px;
}

.buttonContent {
  background-color: rgb(74, 74, 198);
  color: white;
  padding: 6px;
  width: 170px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 5px grey;
}

.buttonContent:hover {
  background-color: powderblue;
  color: black;
  cursor: pointer;
}

.currentPlayer {
  margin-top: 7px;
  margin-left: 65px;
  margin-right: 65px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
  position: relative;
  box-shadow: 5px 5px 5px grey;
  background-color: white;
}
